* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  background: linear-gradient(87.51deg, #0717d3 0%, #62e4e2 100%);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: calc(100% - 20vw);
  text-align: center;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  max-width: 50vmin;
  margin-bottom: 3vh;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
}

svg {
  transition: all 0.15s ease-in-out;
}

a {
  outline: none;
  padding-bottom: 20px;
  transition: all 0.15s ease-in-out;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

/* Only use border-style on focus/active */
a:focus,
a:active {
  border-color: #fff;
}

a:hover > svg,
a:focus > svg,
a:active > svg {
  transform: scale(1.2);
}

a svg {
  width: 40px;
  height: 40px;
}

@media (min-width: 756px) {
  ul {
    max-width: 600px;
  }
}

@media (min-width: 720px) {
  #logo {
    margin-bottom: 7vh;
  }

  a svg {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 920px) {
  a svg {
    width: 60px;
    height: 60px;
  }
}
